<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+KR:wght@200..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" rel="stylesheet">
    <title>
      {% block title %}
        Portfolio
      {% endblock %}
    </title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="{% static 'css/global_styles.css' %}" />
    {% block custom_css %}

    {% endblock custom_css %}
    {% block extra_head %}

    {% endblock extra_head %}
  </head>
  <body>
    <header>
      {% block nav %}
        <div class="navbar">
          <h6><span>Adrien</span> L'éveillé</h6>
          <!-- hamburger button menu -->
          <button class="hamburger" type="button" aria-label="Menu" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <ul class="nav-links">
            <li>
              <a href="{% url 'home:index' %}">Accueil</a>
            </li>
            <li>
              <a href="{% url 'about:about' %}">À propos</a>
            </li>
            <li>
              <a href="{% url 'home:index' %}#projects-section">Projets</a>
            </li>
            <li>
              <a href="{% url 'home:index' %}#contact-section">Contact</a>
            </li>
          </ul>
        </div>
      {% endblock %}
    </header>
    <main id="app">
      {% block content %}

      {% endblock %}
    </main>
    <footer>
      {% block footer %}
      <div class="footer-container">
        <div class="infos-links">
          <a href="https://github.com/Adrien89betty" target="_blank"><img src="{% static 'home/images/github_logo.svg' %}" alt="Github"></a>
          <a href="https://www.linkedin.com/in/adrienleveille/" target="_blank"><img src="{% static 'home/images/linkedin_logo.svg' %}" alt="Linkedin"></a>
        </div>
        <p>Site web créé avec Django et Vue.js, hébergé sur Heroku.</p>
      </div>
      {% endblock %}
    </footer>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            hardSkills: [],
            projects: [],
            modalProject: null,
            copied: false,
            contact: {
              name: "",
              email: "",
              message: ""
            },
            submitButtonText: "Envoyez votre message !"
          };
        },

        mounted() {
          console.log(this.submitButtonText)
          // Fecth skills from the API
          fetch("/cv/api/skills/")
            .then((response) => {
              if (!response.ok) {
                throw new Error("Erreur dans la requête API");
              }
              return response.json();
            })
            .then((data) => {
              this.hardSkills = data;
            })
            .catch((error) =>
              console.error("Erreur lors du chargement des compétences :", error)
            );

          // fecth projects from the API
          fetch("/projects/api/projects/")
            .then(r => r.json())
            .then(data => {
              this.projects = data.map(p => ({
                ...p,
                image_url: p.image || null
              }));
            })
            .catch(err => console.error(err));
        },

        methods: {
          // Open the modal by opening the project by his ID
          openModal(id) {
            this.modalProject = this.projects.find(p => p.id === id) || null;
          },

          // Close the modal
          closeModal() {
            this.modalProject = null;
          },

          // Email copy feature in contact section
          copyEmail() {
            const emailText = "adrienleveille.contact@gmail.com";
            navigator.clipboard.writeText(emailText).then(() => {
              this.copied = true;

              setTimeout(() => {
                this.copied = false;
              }, 2000);
            }).catch(err => console.error("Erreur lors de la copie :", err));
          },
        }
      });

      app.mount("#app");
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const btn = document.querySelector(".hamburger");
        const nav = document.querySelector(".nav-links");

        btn.addEventListener("click", () => {
          const isOpen = nav.classList.toggle("open");
          btn.classList.toggle("open", isOpen);
          btn.setAttribute("aria-expanded", isOpen);
        });

        document.querySelectorAll(".nav-links a").forEach(link => {
          link.addEventListener("click", () => {
            nav.classList.remove("open");
            btn.classList.remove("open");
            btn.setAttribute("aria-expanded", false);
          });
        });
      });
    </script>
  {% block extra_js %}
  {% endblock %}
  </body>
</html>
