<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link rel="stylesheet" href="{% static 'css/global_styles.css' %}">
    {% block custom_css %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        {% block nav %}
        <div class="navbar">
          <div class="nav-home">
            <a href="{% url "home:index" %}">C:\</a>
          </div>
          <ul class="nav-links">
            <li><a href="{% url "about:about" %}">À propos</a></li>
            <li><a href="">Projets</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
        {% endblock %}
    </header>
    <main id="app">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
          <p>Loosely designed in Figma and coded in Visual Studio Code by yours truly.
            Built with Next.js and Tailwind CSS, deployed with Vercel. All text is set in the Inter typeface.</p>
        {% endblock footer %}
    </footer>
</body>
</html>
