<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- classic favicon (desktop browsers) -->
    <link rel="icon"
          href="{% static 'images/favicon.ico' %}"
          type="image/x-icon" />

    <!-- PNG favicon -->
    <link rel="icon"
          href="{% static 'images/favicon-32x32.png' %}"
          type="image/png" />

    <!-- IOS favicon -->
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static 'images/apple-touch-icon.png' %}" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+KR:wght@200..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" rel="stylesheet">
    <script>
      window.STATIC_URL = "{% get_static_prefix %}";
    </script>
    <title>
      {% block title %}
        Portfolio - Adrien L'éveillé
      {% endblock %}
    </title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="{% static 'css/global_styles.css' %}" />
    {% block custom_css %}

    {% endblock custom_css %}
    {% block extra_head %}

    {% endblock extra_head %}
  </head>
  <body>
    <header>
      {% block nav %}
        <div class="navbar">
          <h6><span>Adrien</span> L'éveillé</h6>
          <!-- hamburger button menu -->
          <button class="hamburger" type="button" aria-label="Menu" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <ul class="nav-links">
            <li>
              <a href="{% url 'home:index' %}">Accueil</a>
            </li>
            <li>
              <a href="{% url 'about:about' %}">À propos</a>
            </li>
            <li>
              <a href="{% url 'home:index' %}#projects-section">Projets</a>
            </li>
            <li>
              <a href="{% url 'home:index' %}#contact-section">Contact</a>
            </li>
          </ul>
        </div>
      {% endblock %}
    </header>
    <main id="app">
      {% block content %}

      {% endblock %}
    </main>
    <footer>
      {% block footer %}
      <div class="footer-container">
        <div class="infos-links">
          <a href="https://github.com/Adrien89betty" target="_blank"><img src="{% static 'home/images/github_logo.svg' %}" alt="Github"></a>
          <a href="https://www.linkedin.com/in/adrienleveille/" target="_blank"><img src="{% static 'home/images/linkedin_logo.svg' %}" alt="Linkedin"></a>
        </div>
        <p>Site web créé avec Django et Vue.js, hébergé sur Heroku.</p>
      </div>
      {% endblock %}
    </footer>
    <script src="{% static 'js/app.js' %}"></script>
  {% block extra_js %}
  {% endblock %}
  </body>
</html>
