{% extends "home/base.html" %}

{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'home/css/home_styles.css' %}">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock extra_head %}

{% block content %}
<div class="main-container">
    <div class="welcome">
      <div class="title-container">
        <h1>Développeur back-end <span>{{ "{" }}Python{{ "}" }}</span></h1>
      </div>
      <div class="hook-container">
        <h2>I help clients design their dreams, and then I make those dreams come true.</h2>
      </div>
      <div class="social-links">
        <a href="https://github.com/Adrien89betty" target="_blank"><img src="{% static 'home/images/github_logo.svg' %}" alt="Github"></a>
        <a href="https://www.linkedin.com/in/adrienleveille/" target="_blank"><img src="{% static 'home/images/linkedin_logo.svg' %}" alt="Linkedin"></a>
      </div>
    </div>

    <div class="skills">
      <div class="skills-titles">
        <h2>Skills</h2>
        <h4>En tant que développeur back-end, voici mes principales compétences...</h4>
      </div>
      <div class="skills-container">
        <div class="hard-skills-grid">
          <div v-for="skill in hardSkills" :key="skill.id" class="skill-box">
            <img v-if="skill.logo" :src="skill.logo" :alt="skill.name" class="skill-logo"/>
            <p class="skill-name" v-text="skill.name"></p>
          </div>
        </div>
      </div>
      <div class="btn-about-container">
        <a href="{% url "about:about" %}" class="btn-about">{{ "{" }} En savoir plus {{ "}" }}</a>
      </div>
    </div>

    <div class="projects" id="projects-section">
      <div class="projects-title">
        <h2>Mes projets</h2>
      </div>
      {% verbatim %}
      <div class="projects-grid">
        <div v-for="project in projects" :key="project.id" class="project-card" @click="openModal(project.id)" role="button" tabindex="0">
          <div class="card-thumb">
            <img v-if="project.image_url" :src="project.image_url" alt="Illustration du projet" class="card-img"/>
          </div>
          <h3 class="card-title">{{ project.title }}</h3>
          <p class="card-description">{{ project.description.substring(0, 300) }}…</p>
        </div>
      </div>

      <!-- modal -->
      <div v-if="modalProject" class="modal-overlay" @click.self="closeModal">
        <div class="modal-content">
          <button class="modal-close" @click="closeModal">×</button>
          <div class="modal-thumb">
            <img v-if="modalProject.image_url" :src="modalProject.image_url" alt="Illustration du projet" class="modal-img"/>
          </div>
          <h2 class="modal-title">{{ modalProject.title }}</h2>
          <p class="modal-description">{{ modalProject.description }}</p>
          <p class="p-technos"><span>Technologies utilisées :</span> {{ modalProject.technologies.join(", ") }}</p>
          <div class="modal-links">
            <div class="btn-github-container">
              <a :href="modalProject.github_link" target="_blank" class="btn-github-link">{{ "{" }} Voir sur GitHub {{ "}" }}</a>
            </div>
            <div class="btn-demo-container">
              <a v-if="modalProject.demo_link" :href="modalProject.demo_link" target="_blank" class="btn-demo-link">{{ "{" }} Démo {{ "}" }}</a>
            </div>
          </div>
        </div>
      </div>
      {% endverbatim %}
    </div>

    <div id="sep">
      <div class="logo-marquee">
        <div class="trust-container">
          <h6>Ils m'ont fait confiance</h6>
        </div>
        <div class="logo-marquee__track">
          <div class="logo-marquee__group">
            <img src="{% static 'home/images/idside.png' %}" alt="logo 1">
            <img src="{% static 'home/images/vcm.png' %}" alt="logo 2">
            <img src="{% static 'home/images/ulk.png' %}" alt="logo 3">
            <img src="{% static 'home/images/thanks.jpg' %}" alt="logo 4">
          </div>
          <div class="logo-marquee__group">
            <img src="{% static 'home/images/idside.png' %}" alt="logo 1">
            <img src="{% static 'home/images/vcm.png' %}" alt="logo 2">
            <img src="{% static 'home/images/ulk.png' %}" alt="logo 3">
            <img src="{% static 'home/images/thanks.jpg' %}" alt="logo 4">
          </div>
        </div>
      </div>
    </div>

    <div class="contact" id="contact-section">
      <h2>Contactez-moi</h2>
      <div class="contact-container">
        <div class="contact-map">
          <div id="map">
          </div>
        </div>
        <div class="infos-container">
          <div class="copy-btn-container">
            <p id="email">✉️ adrienleveille.contact@gmail.com</p>
            <button class="copy-btn" @click="copyEmail" aria-label="Copier l'email">
              <img v-if="!copied" src="{% static 'home/images/copy_icon.svg' %}" alt="Copier">
              <p v-else id="copy-message">Copié !</p>
            </button>
          </div>
          <p>Où si vous préférez, directement via ce formulaire. 👇</p>
          <div class="contact-form">
            <form id="contact-form" method="POST" action="{% url 'contact:contact_submit' %}">
                {% csrf_token %}

                <div class="form-group">
                    {{ form.name }}
                </div>

                <div class="form-group">
                    {{ form.email }}
                </div>

                <div class="form-group">
                    {{ form.message }}
                </div>
                <button type="submit" class="btn-submit">Envoyez votre message !</button>
                <div>
                  <p id="form-message" class="hidden"></p>
                </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
  <script src="{% static 'contact/js/contact_form.js' %}"></script>
  <script src="{% static 'contact/js/map.js' %}"></script>
{% endblock %}
