{% extends "home/base.html" %}

{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'home/css/home_styles.css' %}">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div>
    <div class="welcome">
      <div class="title-container">
        <img src="{% static 'home/images/title_homepage.png' %}" alt="homepage title">
      </div>
      <div class="hook-container">
        <h2>I help clients design their dreams, and then I make those dreams come true.</h2>
      </div>
      <div class="social-links">
        <img src="{% static 'home/images/github_logo.svg' %}" alt="Github">
        <img src="{% static 'home/images/linkedin_logo.svg' %}" alt="Linkedin">
      </div>
      <div class="triangle triangle-left"></div>
      <div class="triangle triangle-right"></div>
    </div>

    <div class="skills">
      <div class="skills-titles">
        <h2>Skills</h2>
        <h4>En tant que développeur back-end, voici mes compétences...</h4>
      </div>
      <div class="skills-categories">
        <div class="hard-skills">
          <h3>Hard skills</h3>
          <div class="hard-skills-grid">
            <div v-for="skill in hardSkills" :key="skill.id" v-text="skill.name" class="skill-box">
              {{ skill.name }}
            </div>
          </div>
        </div>
        <div class="skills-divider"></div>
        <div class="soft-skills">
          <h3>Soft skills</h3>
          <div class="soft-skills-grid">
            <div v-for="skill in hardSkills" :key="skill.id" v-text="skill.name" class="skill-box">
              {{ skill.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="btn-about-container">
        <a href="{% url "about:about" %}" class="btn-about">En savoir plus</a>
      </div>
    </div>

    <div class="projects">
      <div class="projects-title">
        <h2>Mes projets</h2>
      </div>
      <div class="carousel" @mouseenter="stopAutoScroll" @mouseleave="resumeAutoScroll">
        <div class="carousel-wrapper">
          <div
            v-for="project in projects"
            :key="project.id"
            class="carousel-item"
            @mouseover="hoveredProject = project.id"
            @mouseleave="hoveredProject = null"
          >
            <div class="project-image" :style="{ backgroundColor: project.color }">
              <h3>Project title</h3>
              <div class="project-details" v-if="hoveredProject === project.id">
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>
                <p>Technologies : {{ '{' }}{ project.technologies.join(', ') }}</p>

                <a :href="project.github_link" target="_blank">GitHub</a>
                <a v-if="project.demo_link" :href="project.demo_link" target="_blank">Voir le projet</a>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination">
          <span
            v-for="(project, index) in projects"
            :key="index"
            @click="currentIndex = index"
            :class="{ active: index === currentIndex }"
          ></span>
        </div>
        <button class="carousel-btn prev-btn" @click="scrollCarousel(-1)">&#8249;</button>
        <button class="carousel-btn next-btn" @click="scrollCarousel(1)">&#8250;</button>
        <div class="btn-discover-projects-container">
          <a href="" class="btn-discover-projects">Découvrir mes projets</a>
        </div>
      </div>
    </div>

    <div id="sep">
    </div>

    <div class="contact">
      <h2>Contactez-moi</h2>
      <div class="contact-container">
        <div class="contact-map">
        </div>
        <div class="infos-container">
          <div class="infos-links">
            <img src="{% static 'home/images/github_logo.svg' %}" alt="Github">
            <img src="{% static 'home/images/linkedin_logo.svg' %}" alt="Linkedin">
          </div>
          <div class="copy-btn-container">
            <p id="email">✉️ adrienleveille.contact@gmail.com</p>
            <button class="copy-btn" @click="copyEmail" aria-label="Copier l'email">
              <img v-if="!copied" src="{% static 'home/images/copy_icon.svg' %}" alt="Copier">
              <p v-else id="copy-message">Copié !</p>
            </button>
          </div>

          <p>Où si vous préférez, directement via ce formulaire. 👇</p>
          <div class="contact-form">

          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
