/* Triangles */
.triangle {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

/* left triangle */
.triangle-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 650px 0 0 50vw;
  border-color: transparent transparent transparent #ffffff;

  z-index: 1;
}

/* right triangle */
.triangle-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 650px 50vw 0 0;
  border-color: transparent #ffffff transparent transparent;

  z-index: 1;
}

/* home - welcome section */
.welcome {
  position: relative;
  height: calc(100vh + 150px);
  overflow: hidden;
  background-color: #06002e;
  color: #ffffff;
  margin-block-start: 0;
}

.title-container {
  margin-top: 100px;
}

.title-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  clip-path: inset(0px 10px 30px 0px);
  position: relative;
}

.hook-container {
  margin-top: 100px;
  margin-bottom: 50px;
}

.hook-container h2 {
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 105px;
}

.social-links img {
  position: relative;
  width: 40px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

.social-links img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

/* home - skills section */
.skills {
  background-color: #ffffff;
  color: #06002e;
  margin-top: -20px;
}

.skills-titles {
  text-align: center;
  padding-top: 40px;
}

.skills-titles h2 {
  font-size: 60px;
  font-family: serif;
  font-weight: normal;
}

.skills-titles h4 {
  font-family: sans-serif;
  font-weight: normal;
}

.skills-categories {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hard-skills-grid, .soft-skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 800px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.skill-box {
  border: solid 1px rgba(6, 0, 46, 0.1);
  box-shadow: 0 0 10px 0 rgba(6, 0, 46, 0.10);
  color: #06002e;
  padding: 15px 25px;
  border-radius: 10px;
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  font-family: sans-serif;
}

.skill-box:hover {
  border: solid 1px #06002e;
  background-color: #06002e;
  box-shadow: 0 0 20px 10px rgba(6, 0, 46, 0.10);
  color: #fff;
  transition: all 0.5s ease;
}

.skills-divider {
  width: 2px;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 5px,
    #06002e 5px,
    #06002e 10px
  );
  height: auto;
  margin: 0 20px;
  opacity: 0.2;
}

.btn-about-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px 0 0 0;
  padding-bottom: 100px;
}

.btn-about {
  border: 2px solid #06002e;
  color: #06002e;
  padding: 10px 10px;
  width: 200px;
  border-radius: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.btn-about:hover {
  background-color: #06002e;
  color: #fff;
}

/* home - projects section */
.projects {
  background-color: #06002e;
  color: #ffffff;
  margin-bottom: 70px;
  padding-left: 250px;
  padding-right: 250px;
}

.projects-title {
  text-align: center;
}

.projects-title h2 {
  font-size: 60px;
  font-family: serif;
  font-weight: normal;
}

/* Card-grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  justify-content: center;
}

.project-card {
  background: #06002e;
  color: #ffffff;
  border: #ffffff solid 2px;
  height: 300px;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
  transition: opacity 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.project-card:hover {
  opacity: 0.3;
  transform: translateY(-4px);
}

.card-thumb {
  background-color: lightgray;
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-title {
  margin: 0.75rem 0 0.5rem;
  font-size: 1.25rem;
}

/* overlay - hide and blur background */
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* la carte centrale */
.modal-content {
  position: relative;
  background: #06002e;
  border: #ffffff solid 2px;
  border-radius: 8px;
  padding: 1.5rem;
  max-width: 1200px;
  max-height: fit-content;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  overflow: hidden;
  font-family: sans-serif;
  font-weight: lighter;
}

.modal-thumb {
  background-color: lightgray;
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 0.5rem;
  overflow: hidden;
}

.p-technos {
  margin-bottom: 50px;
}

/* Close button */
.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #ffffff;
}

.modal-links {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.btn-github-container, .btn-demo-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn-github-link, .btn-demo-link {
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 10px;
  width: 200px;
  border-radius: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.btn-github-link:hover, .btn-demo-link:hover {
  color: #06002e;
  background-color: #ffffff;
}

/* white section */
#sep {
  background-color: #ffffff;
  margin-top: 0;
  padding: 20px;
}

/* home - contact section */
.contact {
  background-color: #06002e;
  color: #ffffff;
}

.contact h2 {
  font-size: 60px;
  font-family: serif;
  font-weight: normal;
  margin-bottom: 30px;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* Map */
.contact-map {
  border: solid 1px #ffffff;
  border-radius: 5px;
  background-color: rgb(253, 253, 207);
  width: 430px;
  height: 430px;
  margin-top: 174px;
  margin-bottom: 100px;
}

#map {
  width: 100%;
  height: 430px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.infos-container {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 700px;
  padding: 20px;
}

.infos-container p {
  font-family: sans-serif;
  font-weight: lighter;
}

/* Email copy */
.copy-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 10px;
  padding-left: 0;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.copy-btn-container:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #22cfff;
  cursor: pointer;
}

#email {
  font-size: 16px;
  font-weight: bold;
  color: inherit;
}

.copy-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-btn img {
  width: 20px;
  height: auto;
}

.copy-btn-container:hover .copy-btn {
  transform: scale(1.2);
}

#copy-message {
  color: green;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

/* Form */
.contact-form {
  width: 100%;
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea.form-control {
  height: 150px;
  resize: vertical;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.btn-submit {
  border: 2px solid #ffffff;
  background-color: #22cfff;
  color: #ffffff;
  text-align: center;
  padding: 12px 20px;
  width: 100%;
  margin: 40px auto 0 auto;
  border-radius: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  display: block;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #ffffff;
  color: #06002e;
}

/* Form message */
.hidden {
  display: none;
}

.success-message {
  color: green;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
