/* ============== HOME - WELCOME SECTION ===============*/
/* ============== MOBILE FIRST (< 421px) ============== */
.welcome {
  height: 120vh;
  overflow: hidden;
  background-color: #06002e;
  color: #ffffff;
  margin-block-start: 0;
}

.title-container {
  display: flex;
  justify-content: center;
  padding: 2vh 8vw;
  margin-top: 15vh;
}

.title-container h1 {
  color: #ffffff;
  font-family: "Playfair", serif;
  font-weight: 300;
  font-size: 2em;
}

.title-container h1 span {
  color: #5ce1e6;
}

.hook-container {
  margin-top: 10vh;
  padding: 2vh 8vw;
}

.hook-container h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 1.1em;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 3.125rem;
  width: 9.375rem;
  margin: 5vh auto 2vh;
}

.social-links img {
  width: 1.2rem;
  height: auto;
  z-index: 10;
}

.social-links img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.scroll-cta-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13vh;
  animation: pulse 2s infinite;
  opacity: 1;
  transition: opacity 1s ease;
}

.scroll-cta-container img {
  width: 30px;
  height: auto;
}

@keyframes pulse {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}

#scroll-cta.hidden {
  opacity: 0;
}

/* ============== WELCOME - TABLETS (< 421px) ============== */
@media (min-width: 421px) {
  .title-container {
    justify-content: center;
    margin-top: 20vh;
  }

  .title-container h1 {
    font-size: 4em;
  }
  .hook-container h2 {
    font-size: 1.5em;
    text-align: center;
  }

  .social-links {
  margin: 5vh auto 2vh;
  }
  .scroll-cta-container {
    margin-top: 20vh;
  }
  .scroll-cta-container img {
  width: 40px;
  height: auto;
  }
}

/* ============== WELCOME - DESKTOPS (< 1280px) ============== */
@media (min-width: 1280px) {
  .title-container {
    margin-top: 36vh;
  }
  .social-links img {
  width: 1.8rem;
  }
  .scroll-cta-container {
    margin-top: 10vh;
  }
}

/* ============== WELCOME - DESKTOPS (< 1536px) ============== */
@media (min-width: 1536px) {
  .title-container {
    margin-top: 33vh;
  }

  .title-container h1 {
    padding: 2vh 3.5vw;
    font-size: 5.5em;
  }
  .hook-container {
    padding: 2vh 7.2vw;
  }
  .hook-container h2 {
    font-size: 1.9em;
    text-align: center;
  }
  .social-links {
  margin: 5vh auto 2vh;
  }
  .social-links img {
  width: 2.3rem;
  height: auto;
  }
  .scroll-cta-container {
    margin-top: 8vh;
  }
}


/* ============== HOME - SKILLS SECTION ================*/
/* ============== MOBILE FIRST (< 421px) ============== */
.skills {
  background-color: #ffffff;
  color: #06002e;
  margin-top: -17vh;
}

.skills-titles {
  text-align: center;
}

.skills-titles h2 {
  font-family: "Playfair", serif;
  font-weight: 300;
  font-size: 2em;
  padding: 4vh 8vw;
}

.skills-titles h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 2vh 2.5vw;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hard-skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;


  gap: 1.875rem;
  padding-inline: 8vw;
  max-width: 100%;
  margin: 0 auto;
}

.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(6, 0, 46, 0.3);
  padding: 0.8rem;
  border-radius: 0.3em;
  cursor: default;
  width: 80px;
}

.skill-logo {
  width: 40px;
  height: auto;
  margin-bottom: 0.5rem;
}

.skill-name {
  margin: 0;
  font-size: 0.65rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #06002e;
  text-align: center;
}

.skill-box:hover {
  background-color: #5ce1e6;
  color: #06002e;
  transition: all 0.5s ease;
}

.btn-about-container {
 display: flex;
 justify-content: center;
 margin: 3em 0 0;
 padding-bottom: 3em;
}

.btn-about {
 color: #06002e;
 padding: 0.6rem;
 text-decoration: none;
 font-family: "Montserrat", sans-serif;
 font-weight: 300;
 font-size: 1rem;
 transition: all 0.3s ease-in-out;
}

.btn-about:hover {
 color: #5ce1e6;
}


/* ============== SKILLS - TABLETS (< 421px) ============== */
@media (min-width: 421px) {
  .skills-titles h2 {
    font-size: 3em;
    padding-bottom: 0;
  }
  .hard-skills-grid {
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 5vw;
    max-width: 60rem;
    margin: 0 auto;
    gap: 3.5em;
  }
  .skill-box {
    width: 100px;
  }
  .skill-logo {
    width: 50px;
    height: auto;
    margin-bottom: 0.5rem;
  }
  .skill-name {
    font-size: 0.8rem;
  }
  .btn-about {
    font-size: 1.3rem;
  }
}

/* ============== SKILLS - DESKTOPS (< 1280px) ============== */
@media (min-width: 1280px) {
  .hard-skills-grid {
    grid-template-columns: repeat(5, 1fr);
    padding-inline: 0;
    max-width: 50rem;
    margin: 0 auto;
    gap: 4em;
  }
  .skill-box {
    width: 100px;
  }
  .skill-logo {
    width: 42px;
  }
  .skills-titles h2 {
  font-size: 2.8em;
  }
  .btn-about {
    font-size: 1rem;
  }
}

/* ============== SKILLS - DESKTOPS (< 1536px) ============== */
@media (min-width: 1536px) {
  .skills-titles h2 {
  font-size: 3em;
  }
  .hard-skills-grid {
    grid-template-columns: repeat(5, 1fr);
    padding-inline: 0;
    max-width: 50rem;
    margin: 0 auto;
    gap: 4.5em;
  }
  .skill-box {
    width: 120px;
  }
  .skill-logo {
    width: 60px;
    height: auto;
    margin-bottom: 0.5rem;
  }
  .btn-about {
    font-size: 1.1rem;
  }
}


/* ============== HOME - PROJECTS SECTION ============= */
/* ============== MOBILE FIRST (< 421px) ============== */
.projects {
  background-color: #06002e;
  color: #ffffff;
  padding: 0 8vw;
  margin-bottom: 4.375rem;
}

.projects-title {
  text-align: center;
  margin-bottom: 2rem;
}

.projects-title h2 {
  font-family: "Playfair", serif;
  font-weight: 300;
  font-size: 2em;
  padding: 8vh 0 2vh 0;
}

/* Card-grid */
.projects-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.project-card {
  width: 100%;
  max-width: 30rem;
  background: #06002e;
  color: #fff;
  border: 0.125rem solid #5ce1e6;
  border-radius: 0.625rem;
  padding: 1rem;
  height: 21rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  transition: opacity 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.card-title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.card-description {
  font-size: 0.8em;
}

.project-card:hover {
  opacity: 0.3;
  transform: translateY(-0.25rem);
}

.card-thumb {
  width: 100%;
  height: 8rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-thumb img {
  display: block;
  width: 100%;
  object-fit: contain;
}

/* overlay – hide and blur background */
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* modal content */
.modal-content {
  position: relative;
  background: #06002e;
  border: 0.125rem solid #5ce1e6;
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 20rem;
  height: fit-content;
  overflow: hidden;
  box-shadow: 0 0.625rem 1.5625rem rgba(0,0,0,0.2);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.modal-thumb {
  width: 100%;
  height: 8rem;
  object-fit: contain;
  border-radius: 0.5rem;
  overflow: hidden;
}

.modal-title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.modal-description {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.p-technos {
  font-size: 0.8em;
  margin-bottom: 2em;
}

.p-technos span {
  font-weight: 700;
}

/* Close button */
.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #ffffff;
}

.modal-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn-github-link,
.btn-demo-link {
  color: #ffffff;
  padding: 0.6rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.btn-github-link:hover,
.btn-demo-link:hover {
  color: #5ce1e6;
}

/* ============== PROJECTS - TABLETS (< 421px) ============== */
@media (min-width: 421px) {
  .projects-title h2 {
    font-size: 3em;
  }
  .projects-grid {
    display: grid;
    gap: 3rem;
    justify-content: center;
  }
  .project-card {
    max-width: 65vw;
    height: 19rem;
  }
  .card-title {
    font-size: 1.4em;
  }
  .modal-content {
    max-width: 75vw;
  }
  .modal-thumb {
    height: 15rem;
  }
}

/* ============== PROJECTS - DESKTOPS (< 1280px) ============== */
@media (min-width: 1280px) {
  .projects-title h2 {
    font-size: 2.8em;
  }
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 15vh;
  }
  .project-card {
    max-width: 35vw;
  }
}

/* ============== PROJECTS - DESKTOPS (< 1536px) ============== */
@media (min-width: 1536px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 15vh;
  }
  .project-card {
    max-width: 35vw;
  }
}


/* ============== HOME - LOGOS BANNER ================= */
/* ============== MOBILE FIRST (< 421px) ============== */
.trust-container h6 {
  text-align: center;
  font-family: "Playfair", serif;
  font-weight: 300;
  font-size: 1em;
  padding: 0 0 2vh 0;
}
.logo-marquee {
    position: relative;
    padding: 2vh;
    overflow: hidden;
    background-color: #5ce1e6;
  }

  .logo-marquee__track {
    display: flex;
    width: calc(200% + 2rem);
    animation: marquee 20s linear infinite;
  }

  .logo-marquee__group {
    display: flex;
    flex: 0 0 50%;
    justify-content: space-evenly;
    align-items: center;
  }

  .logo-marquee__group img {
    max-height: 2.3rem;
    width: auto;
    margin: 0 1rem;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  }

  @keyframes marquee {
    from { transform: translateX(0); }
    to   { transform: translateX(-25%); }
  }

/* ============== BAND LOGOS - TABLETS (< 421px) ============== */
@media (min-width: 421px) {
  .logo-marquee__group img {
    max-height: 2.5rem;

  }
}
/* ============== BAND LOGOS - DESKTOPS (< 1025px) ============== */
@media (min-width: 1025px) {
  .logo-marquee__group img {
    max-height: 4rem;
  }
}


/* ============== HOME - CONTACT SECTION ============== */
/* ============== MOBILE FIRST (< 421px) ============== */
#contact-section {
  scroll-margin-top: 1rem;
  margin-bottom: 5vh;
}

.contact {
  background-color: #06002e;
  color: #ffffff;
  padding: 0 8vw;
}

.contact h2 {
  font-family: "Playfair", serif;
  font-weight: 300;
  font-size: 2em;
  padding: 5vh 0 2vh 0;
  text-align: center;
}

.contact-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
}

.contact-map {
  width: 100%;
  max-width: 30rem;
  aspect-ratio: 1 / 1;
  background-color: #fdfdcf;
  border: 2px solid #5ce1e6;
  border-radius: 0.5rem;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}

.infos-container {
  width: 100%;
  max-width: 85vw;
  text-align: center;
  padding: 1rem 0;
}

/* email copy */
.copy-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.1);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#email {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  word-break: break-all;
}

.copy-btn {
  background-color: #06002e;
  border: none;
}

.copy-btn img {
  width: 1em;
}

#copy-message {
 color: green;
 font-family: "Montserrat", sans-serif;
 font-size: 0.8em;
 font-weight: 700;
 margin-left: 0.625rem;
}


.infos-container > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 1rem;
}

/* form */
.contact-form {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 2px solid #5ce1e6;
  border-radius: 0.5rem;
  background: transparent;
  color: #fff;
}

textarea.form-control {
  height: 8rem;
  resize: vertical;
}

.btn-submit {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin: 1.5rem 0 0;
  font-size: 1.125rem;
  background-color: #5ce1e6;
  color: #06002e;
  border: 2px solid #ffffff;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-submit:hover {
  background-color: #ffffff;
  color: #06002e;
}

/* state messages */
.hidden { display: none; }
.success-message,
.error-message {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: bold;
}
.success-message {
  color: #4caf50;
}
.error-message {
  color: #f44336;
}


/* ============== CONTACT SECTION - TABLETS (< 421px) ============== */
@media (min-width: 421px) {
  .contact-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 60rem;
    margin: 0 auto;
    gap: 3rem;
  }

  .contact-map {
    width: 45%;
    max-width: none;
    margin: 0;
  }

  .infos-container {
    width: 50%;
    text-align: left;
    padding: 0;
  }
}

/* ============== CONTACT SECTION - DESKTOPS (< 1025px) ============== */
@media (min-width: 1025px) {
  .contact {
    padding: 3rem 2rem;
  }
  .contact h2 {
    padding: 0 0 5vh 0;
    font-size: 3em;
  }
  .contact-container {
    max-width: 70vw;
    gap: 4rem;
  }
  .contact-map {
    width: 33%;
  }
  .infos-container {
    width: 45%;
  }
}
