/* Triangles */
.triangle {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

/* left triangle */
.triangle-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 650px 0 0 50vw;
  border-color: transparent transparent transparent #ffffff;
}

/* right triangle */
.triangle-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 650px 50vw 0 0;
  border-color: transparent #ffffff transparent transparent;
}

/* home - welcome section */
.welcome {
  position: relative;
  height: calc(100vh + 150px);
  overflow: hidden;
  background-color: #06002e;
  color: #ffffff;
  margin-block-start: 0;
}

.title-container {
  margin-top: 100px;
}

.title-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  clip-path: inset(0px 10px 30px 0px);
  position: relative;
}

.hook-container {
  margin-top: 100px;
  margin-bottom: 50px;
}

.hook-container h2 {
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
}

.social-links {
  display: flex;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 105px;
}

.social-links img {
  width: 40px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* home - skills section */
.skills {
  background-color: #ffffff;
  color: #06002e;
  margin-top: -20px;
}

.skills-titles {
  text-align: center;
  padding-top: 40px;
}

.skills-titles h2 {
  font-size: 60px;
  font-family: serif;
  font-weight: normal;
}

.skills-titles h4 {
  font-family: sans-serif;
  font-weight: normal;
}

.skills-categories {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hard-skills-grid, .soft-skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 800px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.skill-box {
  border: solid 1px #06002e;
  box-shadow: 0 0 10px 0 rgba(6, 0, 46, 0.10);
  color: #06002e;
  padding: 15px 25px;
  border-radius: 5px;
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  font-family: sans-serif;
}

.skills-divider {
  width: 2px;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 5px,
    #06002e 5px,
    #06002e 10px
  );
  height: auto;
  margin: 0 20px;
}

.btn-about-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.btn-about {
  font-family: serif;
  font-weight: lighter;
  color: #06002e;
  text-decoration: none;
  font-size: 20px;
}

.btn-about:hover {
  text-shadow: #06002e 1px 0 3px;
  color: black;
  transition: 0.3s ease;
}

/* home - projects section */
.projects {
  background-color: #06002e;
  color: #ffffff;
}

.projects-title {
  text-align: center;
}

.projects-title h2 {
  font-size: 60px;
  font-family: serif;
  font-weight: normal;
}

/* projects - carousel */
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 800px;
  height: 500px;
}

.carousel-wrapper {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.carousel-item {
  flex: 0 0 25%; /* Affiche 4 items maximum */
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel-item:hover {
  transform: scale(1.1); /* Zoom sur le projet courant */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.project-image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.project-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel-item:hover .project-details {
  opacity: 1;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn {
  left: 30px;
}

.next-btn {
  right: 30px;
}


#sep {
  background-color: #ffffff;
  margin-top: 0;
}

/* home - contact section */
.contact {
  background-color: #06002e;
  color: #ffffff;
}
