/* base.html */
body {
  background-color: #06002e;
  margin: 0
}

/* navbar */
.navbar {
  background-color: #06002e;
  color: #fffef9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar h4 {
  margin: 0;
  padding: 0;
  display: inline-block;
}

footer {
  background-color: #06002e;
  color: #fffef9;
}
