/* base.html */
body {
  background-color: #06002e;
  margin: 0
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #06002e;
  color: #ffffff;
  padding: 10px 50px 10px 50px;
}

.nav-home a {
  text-decoration: none;
  font-size: 50px;
  font-family: serif;
  font-weight: bold;
  color: #ffffff;
}

.nav-home a:hover {
  text-shadow: #ffffff 1px 0 10px;
  color: white;
  transition: 0.3s ease;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-left: 0;
  padding: 0;
}

.nav-links li a {
  font-family: serif;
  font-weight: lighter;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.nav-links li a:hover {
  text-shadow: #ffffff 1px 0 10px;
  color: white;
  transition: 0.3s ease;
}


footer {
  background-color: #06002e;
  color: #ffffff;
}
