body {
  margin: 0
}

.navbar {
  background-color: #06002e;
  color: #fffef9;
}

.navbar h4 {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.welcome {
  background-color: #06002e;
  color: #fffef9;
  margin-block-start: 0;
}

.skills {
  background-color: #fffef9;
  color: #06002e;
}

.projects {
  background-color: #06002e;
  color: #fffef9;
}

#sep {
  background-color: red;
  margin-top: 0;
  padding-top: 50px;

}

.contact {
  background-color: #06002e;
  color: #fffef9;
}

footer {
  background-color: #06002e;
  color: #fffef9;
}
