{% extends 'home/base.html' %}

{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'about/css/about_styles.css' %}">
{% endblock %}

{% block title %}À propos{% endblock %}

{% block page_header %}
  <h1>About me</h1>
{% endblock page_header %}

{% block content %}
  <div class="about-container">
    <div class="about-photo">
      <img src="{% static 'about/images/adrien_photo.jpg' %}" alt="Adrien Leveille">
    </div>
    <div class="about-content">
      <h1>Qui suis-je ?</h1>
      <p>
        🚧 Cette page est encore en construction…
      Revenez bientôt pour découvrir qui je suis ! 😊
      </p>
      <p class="cta">
        En attendant, vous pouvez télécharger mon CV ou m'envoyer un message 👇
      </p>
    </div>
  </div>
  <div class="btns-container">
    <div class="btn-cv-container">
      <a href="{% static 'cv/files/cv_adrien_leveille_backend.pdf' %}" download class="btn-cv">
        Télécharger mon CV
      </a>
    </div>
    <div class="btn-contact-container">
      <a href="{% url 'home:index' %}#contact-form" class="btn-contact">
        Me contacter
      </a>
    </div>
  </div>
  {% endblock content %}
